<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ateraction.vesperanto"
    android:versionCode="9"
    android:versionName="1.3" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />
   <!-- 
   If you don't want Google Play to filter based on a specific implied feature,
    you can disable that behavior.
    To do so, declare the feature explicitly in a <uses-feature> element and 
    include an android:required="false" attribute.
     For example, to disable filtering derived from the CAMERA permission,
      you would declare the feature as shown below.

		<uses-feature android:name="android.hardware.camera" android:required="false" />
   
	   Category 	This Permission... 	Implies This Feature Requirement
		Bluetooth 
			BLUETOOTH 	android.hardware.bluetooth
		
				(See Special handling for Bluetooth feature for details.)
			BLUETOOTH_ADMIN 	android.hardware.bluetooth
		
		Camera
			CAMERA 	android.hardware.camera and
			android.hardware.camera.autofocus
			
		Location
			ACCESS_MOCK_LOCATION 	android.hardware.location
			ACCESS_LOCATION_EXTRA_COMMANDS 	android.hardware.location
			INSTALL_LOCATION_PROVIDER 	android.hardware.location
			ACCESS_COARSE_LOCATION 	android.hardware.location.network and
			android.hardware.location
			ACCESS_FINE_LOCATION 	android.hardware.location.gps and
			android.hardware.location
			
		Microphone
			RECORD_AUDIO 	android.hardware.microphone
			
		Telephony
			CALL_PHONE 	android.hardware.telephony
			CALL_PRIVILEGED 	android.hardware.telephony
			MODIFY_PHONE_STATE 	android.hardware.telephony
			PROCESS_OUTGOING_CALLS 	android.hardware.telephony
			READ_SMS 	android.hardware.telephony
			RECEIVE_SMS 	android.hardware.telephony
			RECEIVE_MMS 	android.hardware.telephony
			RECEIVE_WAP_PUSH 	android.hardware.telephony
			SEND_SMS 	android.hardware.telephony
			WRITE_APN_SETTINGS 	android.hardware.telephony
			WRITE_SMS 	android.hardware.telephony
			
		Wi-Fi 
			ACCESS_WIFI_STATE 	android.hardware.wifi
			CHANGE_WIFI_STATE 	android.hardware.wifi
			CHANGE_WIFI_MULTICAST_STATE 	android.hardware.wifi
	   
    -->
    
    
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.wifi" android:required="false" />
    <uses-feature android:name="android.hardware.microphone" android:required="false" />
    <uses-feature android:name="android.hardware.telephony" android:required="false" />
    <uses-feature android:name="android.hardware.bluetooth" android:required="false" />
    <!--   <uses-feature android:name="android.hardware.location" android:required="false" />-->
    
   
    
    <!-- Because applications require the android.hardware.touchscreen feature by default,
     if you want your application to be available to devices that provide a fake touch interface, 
    you must also explicitly declare that a touch screen is not required by declaring  -->
    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />
    
    
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!--
    String	CALL_PHONE	Allows an application to initiate a phone call without going through the Dialer user interface for the user to confirm the call being placed.
	String	CALL_PRIVILEGED	Allows an application to call any phone number, including emergency numbers, without going through the Dialer user interface for the user to confirm the call being placed. 
     -->
     <!-- public static final String READ_CONTACTS  Added in API level 1
		Allows an application to read the user's contacts data.
		Constant Value: "android.permission.READ_CONTACTS" -->
     
   <uses-permission android:name="android.permission.READ_SMS" />
   <uses-permission android:name="android.permission.SEND_SMS" />
   <!-- RECEIVE_SMS allow you to read sim card messages 
   (if user doesn't have it a by default on device  -->
 
 
   <uses-permission android:name="android.permission.RECEIVE_SMS" />
   
   <!-- public static final String WAKE_LOCK Added in API level 1
	Allows using PowerManager WakeLocks to keep processor
	 from sleeping or screen from dimming 
	 Constant Value: "android.permission.WAKE_LOCK" 
	 --> 
	 
	 <!-- 
	 public static final String READ_USER_DICTIONARY Added in API level 16
	Allows an application to read the user dictionary. This should really only be required by an IME, or a dictionary editor like the Settings app.
	Constant Value: "android.permission.READ_USER_DICTIONARY"
	 -->

     <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	  <uses-permission android:name="android.permission.READ_CONTACTS" />
	 
	  <uses-permission android:name="android.permission.CAMERA" />
       
        <uses-permission android:name="android.permission.VIBRATE"/>
      
        
        <uses-permission android:name="android.permission.BLUETOOTH" />
        <!--String	BLUETOOTH	Allows applications to connect to paired bluetooth devices
		String	BLUETOOTH_ADMIN	Allows applications to discover and pair bluetooth devices
		String	BLUETOOTH_PRIVILEGED	Allows applications to pair bluetooth devices without user interaction, and to allow or disallow phonebook access or message access.
		-->
        
        <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
        <uses-permission android:name="android.permission.RECORD_AUDIO"/> 
		<uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/> 
		<uses-permission android:name="android.permission.BROADCAST_STICKY"/>
        
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.ateraction.vesperanto.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
                   <!-- <intent-filter>
                 <action android:name="android.intent.action.VIEW" />
                 <action android:name="android.intent.action.EDIT" />
                 <action android:name="android.intent.action.PICK" />
                 <category android:name="android.intent.category.DEFAULT" />
                 <data android:mimeType="vnd.android.cursor.dir/vnd.google.note" />
             </intent-filter> --> 
            
            
            
        </activity>
    </application>

</manifest>